
body{

  font-family: 'Montserrat', sans-serif;
   padding: 0px;
   margin: 0px;
}

.section1{

width: 100%;
height: 900px;
/* background: url("../../../images/dj.jpg"); */
/* background-color: blue; */
background-position: center;
background-size: cover;
background-repeat: no-repeat;
/* background-attachment: fixed; */

}

.cover{

  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
}

.navigbar{

  width: 90%;
  background: transparent;
  top: 7%;
  
}

.nav-link{

  color: white;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  padding: 1% 2%;  
  box-sizing: border-box;
  border: 2px solid transparent;
  transition-duration: 1s;
}

/* .nav-link:hover{

  border-color: white;

} */

.new-party{

  text-decoration: none;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 400;
}


.carousel-item{

  height: auto;

  width: 70%;

}

.carousel-item .cont{

  transform: translateX(30%);
}

.carousel-item h1{

  letter-spacing: 4px;
  font-size: 40px;
}



.section1-carousal{

  width: 98%;
  top: 50%;
  left: 14%;

}


.moreinfo{

  align-self: center;
}

.cont p{

  color: #E8E8E8;
  font-size: 1em;
  margin-bottom: 3%;
  margin-top: 3%;
}

.moreinfo a:hover .moreinfo{

  background-color: black;
}

.cont{

  align-self: start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

