.section2-heading h3{

    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    color: #e709c1;

}

.section2-heading p{

    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    
}

.section2-heading p:after{

    content: '';
    background: #e709c1;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 114%;
    right: 47%;
}

.section2-flex-flexchild-heading{

    color: #e709c1;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

/* .section2-flex-flexchild-image{

    height: 100px;
    width: 100px;
} */

.section2-flex-flexchild-a{

    display: inline-block;
    font-size: 1em;
    color: #e709c1;
    text-transform: uppercase;
   border: 2px solid #e709c1;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none !important;
    transition-duration: 1s;
}

.section2-flexchild p{

    color: #999;
    line-height: 2em;
    font-size: 20px;
}

.section2-flex-flexchild-a:hover{

background-color: #e709c1;
color: white;

}