.section7-counters{

    font-size: 30px;
    color: #d2d2d2;
}

.section7{

    height: auto;
    /* background-image: url("../../../images/section5img.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section7-counters p{

    font-size: 14px;
    color: rgba(255, 255, 255, 0.81);
    text-transform: uppercase;

}

.value{

    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    color: #e709c1;
}

.section7-counters i{

    font-size: 50px;
    text-align: center;
}